<% provide(:title, "Home") %>


<div class="center jumbotron">
	<h1>Welcome to WorkTracker.</h1>
	<h3>WorkTracker is a tool you can use to track your own productivity as you work in timed sessions.</h3>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<!-- <%= image_tag "pomodoro.jpg", alt: "Pomodoro timer", class: 'center' %> !-->
