


<h1 id="timer"> 00:00 </h1>

<button id="start" class="btn btn-success">Start</button>
<button id="pause" class="btn btn-inverse">Pause</button>
<button id="reset" class="btn btn-inverse">Reset</button>



<!-- <p id="success"><%= flash[:success] %></h3> !-->