<%= form_for @work_session do |f| %>
<span  id="minutes" class="timer">25</span><span class="timer">:</span><span id="seconds" class="timer">00</span>

<!-- this should prolly preload the users last used time period.. -->

<br /> <br />


<button id="start" class="btn btn-success">Start</button>
<button id="pause" class="btn btn-inverse">Pause</button>
<button id="reset" class="btn btn-inverse">Reset</button>

<br> <br>



  <%= f.select :goal_id, current_user.goals.collect { |g| [g.name, g.id]},{ prompt: "Goal" }, { :class => 'form-control'} %>


<input type="text" class="form-control" id="exampleInputPassword1" placeholder="What are you working on?">

<br /> <br />



<% end %>