<div class="timer"> <span id="minutes">25</span><span>:</span><span id="seconds">00</span> </div>

<!-- this should prolly preload the users last used time period.. -->
<%= form_for @work_session, :remote => true do |f| %>


  <%= f.hidden_field :length, :value => "1500", :id => "sessionlength" %>

  <% f.select :goal_id, current_user.goals.collect { |g| [g.name, g.id]},{ prompt: "Goal" }, { :class => 'form-control'} %>
  <!-- ^^^ that is hidden! -->

  <%= f.text_field :description, placeholder: "What are you working on?", class: 'form-control' %>






<button id="start" class="btn btn-success timer-control">Start Work Session</button>


<% end %>


<button id="pausebtn" class="btn btn-inverse timer-control" style="display: none">Pause</button>

<div id="completeform">
</div>
<div id="deleteform">
</div>

<div id="status">
</div>

<audio id="buzz_audio" src="buzz.mp3" preload="auto"></audio>