


<span  id="minutes" class="timer">25</span><span class="timer">:</span><span id="seconds" class="timer">00</span>

<!-- this should prolly preload the users last used time period.. -->

<br /> <br />


<button id="start" class="btn btn-success">Start</button>
<button id="pause" class="btn btn-inverse">Pause</button>
<button id="reset" class="btn btn-inverse">Reset</button>



<!-- <p id="success"><%= flash[:success] %></h3> !-->