@import "bootstrap-sprockets";
@import "bootstrap";

/* universal stuff */

$grayMediumLight: #eaeaea;


body {
	padding-top: 60px;
  /* Location of the image */
  background-image: url(az_subtle.png);
  
  /* Background pattern from Subtle Patterns */
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#fff;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* making font look nice */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 2em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}



/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #5DADE2;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: #283747;
  a {
    color: #283747;
    &:hover {
      color: #1B2631;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/*forms.*/

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	/*@include box-sizing;

}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	/*@extend .has_error;*/
	.form-control {
		color: red; /* fix this */
	}
}

/* timer */
.timer {
	margin-bottom: 15px;
	font-size: 250%;
	#minutes, #seconds {
		border-bottom: 2px dashed #9d9d9d;
	}	
}

.timer-control{
	width: 180px;
	height: 45px;
	margin-bottom: 15px;
}

.timer:hover {
	#background: #fffbe1;
}

/* activity list */
.work_session {
    display: block;
    overflow: auto;
    padding: 0px 0px 10px 10px ;
    border-bottom: 1px solid $gray-lighter;
}

#work_session_title {
	font-size: 230%;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    &:last-child {
      border-bottom: 1px solid $grayMediumLight;
    }
  }
  .btn {
  	width: 125px;
  }
}

.vcenter {    
    height:40px;
    line-height:40px; /* here it is! */
    padding:0px 
}

